.img {
    max-width: 100%;
    height: auto;
}
.content{
    padding-top:1px;
    padding-left:20px;
    padding-bottom:1px;
  }
.background-img{
    position: absolute;
    top:0
  }
.section-1{
    margin-top:150px;
  }
.section-2{
    margin-top:100px;
  }
.section-3{
    margin-top:150px;
  }
.links a:hover{
    text-decoration: underline;
  }

.section-4{
    padding-top:30px;
    padding-bottom: 30px;
  }
