<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <style></style>
   <!--Link Materialize css-->
   <link rel="stylesheet" href="../static/css/materialize.min.css">
   <!--Link Fontawesome-->
   <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
</style>
   
</head>
<body>
  <header>
    <header>
        <nav class="deep-orange accent-2">
          <div class="container">
            <a id="logo-container" href="#" class="brand-logo">KIG</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/login">Students Login </a></li>
              <li><a href="/">About us</a></li>
              <li><a href="/extra">FAQs</a></li>
            </ul>
          </div>
        </nav>
      </header>

      
    
        
    <div class="container">
        <br>
      <hr class="featurette-divider">
    
        <div class="row ">
          <div class="col s7">
            <h2 class="featurette-heading">Vision.</h2>
            <p class="lead">To be ever dependable through the creation of seamless connections and network options for our domestic, regional and international markets.</p>
          </div>
          <div class="col s5">
            <img class="bd-placeholder-img bd-placeholder-img-lg  img-fluid mx-auto" width="500" height="auto" src="../static/images/course_4.jpg"></img>
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row ">
          
          <div class="col s7">
            <img width="500" height="auto" src="../static/images/course_5.jpg" role="img"></img>
          </div>
          <div class="col s5">
            <h2 class="featurette-heading">Mission.</h2>
            <p class="lead">To expand locations both domestically and beyond as the largest and most profitable airline company to achieve safe, efficient and affordable short and long haul services.</p>
          </div>
        </div>
    
        <hr class="featurette-divider">