<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!--Link Materialize css-->
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <!--Link Fontawesome-->
    <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
    <style>
        .links a:hover {
            text-decoration: underline;
        }
        .background-img{
            position: absolute;
            top:0;
            left:250px;
        }
        .bg{
    background:url("{{url_for('static',filename='img/stration8.jpg')}}");
 background-position: right;
 background-size: contain;
 background-repeat: no-repeat
}
    </style>
</head>

<body>
    <!-- start of nav bar-->
    <header>
        <nav class="transparent">
            <div class="container">
                <a id="logo-container" href="#" class="brand-logo blue-text">KIG</a>
                <ul class="right hide-on-med-and-down ">
                    <li><a href="/" class="blue-text">Home</a></li>
                    <li><a href="#" class="blue-text">About us</a></li>
                    <li><a href="#" class="blue-text">FAQs</a></li>
                </ul>
            </div>
        </nav>
        <div class="center">
            <img src="../static/img/Illustration.jpg" style="z-index:-1" class='background-img responsive-img'>
        </div>
    </header>
    <!--End of Nav bar-->
    
    <main class="container">
        <div class="row">
          {% if user.role == "Admin"%} 
          <div class="col s12">
            <h5 class="blue-text text-darken-2 right">Welcome to your account, <b>{{user.name}}</b> <img src="../static/img/Illustration3.png" height=35px width=auto></h5>
        </div>
            <div class="col s3 z-depth-1">
                
                <h4>Profile Menu</h4>
                <ul class="links">
                    <li><a href="/signup">Register student profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
            <div class="col s12" style="margin-top:160px;">
                <h2 class="blue-text center">
                    <i class="fas fa-user-friends"></i>KIG University student list
                </h2>
                {%if len > 0 %}
                <table class="striped z-depth-1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Matric No.</th>
                            <th>Gender</th>
                            <th>Registered</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                   <tbody> {% for student in students %} <tr>
                            <td>{{student.id}}</td>
                            <td><a href="/admin/view/{{student.id}}">{{student.name}}</a></td>
                            <td>{{student.matric}}</td>
                            <td>{{student.gender}}</td>
                            <td><i class="fas fa-calendar-day blue-text"></i> {{student.registered}}</td>
                            <td><a href="/student-profile/edit/{{student.id}}"><i class="fa fa-edit green-text"></i></a> </td>
                            <td><a href="/student-profile/delete/{{student.id}}"><i
                                        class="fa fa-trash red-text"></i></a> </td>
                        </tr> {% endfor %} </tbody>
                </table>
                {%else%}
                <h2 class="grey-text">NO STUDENT ACCOUNT IN ACTIVE</h2>
                {%endif%}
                <p>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} <b
                    class="green-text">{{message}}</b> {% endfor %} {% endif %} {% endwith %}</p>
            </div>
        </div>
     {%else%} 
     <div class="col s12">
        <h5 class="blue-text text-darken-2 right">Welcome to your account, <b>{{user.name}}</b> <img src="../static/img/Illustration2.png" height=35px width=auto></h5>
    </div>
            <div class="col s3 z-depth-1">
                <h4>Profile Menu</h4>
                <ul class="links">
                    <li><a href="/dashboard">Profile Page</a></li>
                    <li> <a href="/student/register/{{user.id}}">Update Bio Data</a></li>
                    <li> <a href="">Check Results</a></li>
                    <li> <a href="">Reports</a></li>
                    <li> <a href="/logout">Log out</a></li>
                </ul>
            </div>
            <div class="col s12">
                <p>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} <b
                            class="green-text">{{message}}</b> {% endfor %} {% endif %} {% endwith %}</p>
            </div>
            <div class="col s12" style="margin-top:100px;">
                <h4 class="blue-text text-darken-2">Student Details</h4>
                <div class="card-panel bg">
                    <ul>
                        <li><b>Full Name:</b> {{user.name}}</li>
                        <li><b>Email:</b> {{user.email}}</li>
                        <li><b>Gender:</b> {{user.gender}}</li>
                        <li><b>Matric No:</b> {{user.matric}}</li>
                        <li><b>Phone No:</b> {{user.phone}}</li>
                        <li><b>Date of Birth:</b> {{info.DOB}}</li>
                        <li><b>Place of Birth:</b> {{info.POB}}</li>
                        <li><b>Place of Origin:</b> {{info.POO}}</li>
                        <li><b>State/Local Government:</b> {{info.state}}</li>
                        <li><b>Nationality:</b> {{info.nationality}}</li>
                        <li><b>Marital Status:</b> {{info.M_S}}</li>
                        <li><b>Religion:</b> {{info.religion}}</li>
                        <li><b>Permanent Home Address:</b> {{info.address}}</li>
                        <li><b>Next of Kin:</b> {{info.kin}}</li>
                        <li><b>Address of Next of Kin:</b> {{info.kin_address}}</li>
                        <li><b>Next of Kin Phone No:</b> {{info.kin_no}}</li>
                        <li><b>Relationship with Next of Kin:</b> {{info.kin_relationship}}</li>
                        <li><b>Previous University:</b> {{info.previous_uni}}</li>
                        <li><b>Program:</b> {{info.program}}</li>
                        <li><b>Mode of Entry:</b> {{info.mode}}</li>
                        <li><b>Highest Qualification:</b> {{info.qualification}}</li>
                        <li><b>Award in View:</b> {{info.award}}</li>
                        <li><b>Mode of Study:</b> {{info.study}}</li>
                        <li><b>Faculty:</b> {{info.faculty}}</li>
                        <li><b>Department:</b> {{info.department}}</li>
                        <li><b>Duration:</b> {{info.duration}}</li>
                        <li><b>Health Status:</b> {{info.health}}</li>
                    </ul>
                </div>
            </div>
        </div> {%endif%}
    </main>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>