<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extra</title>
  <!--Link Materialize css-->
  <link rel="stylesheet" href="../static/css/materialize.min.css">
  <!--Link Fontawesome-->
  <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
</head>

<body>
  <!-- start of nav bar-->
  <header>
    <nav class="deep-orange accent-2">
      <div class="container">
        <a id="logo-container" href="#" class="brand-logo">KIG</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="#">Students Login </a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!--End of Nav bar-->
  <div class="container">
    <h3>FAQs</h3>
    <ul class="collapsible  z-depth-0">
      <li>
        <div class="collapsible-header grey lighten-2">
          <h6> How would you describe a KIG student? </h6>
        </div>
        <div class="collapsible-body">
          <p> A KIG student is unique! Each child brings a sense of whimsy and rigor to work and play, and their
            individuality is encouraged here. Based on the teachings of Maria Montessori to let the child lead, KIG
            students are instilled with a sense of independence early on, which fosters a sense of confidence, and
            inquisitiveness.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header grey lighten-2">
          <h6>Where do your graduates go? </h6>
        </div>
        <div class="collapsible-body">
          <p>KIG’s graduates are accepted into and attend some of the most prominent independent and public masters
            programs. Our Head of School partners with families of graduating students to see that each child is placed
            into a school that best suits his or her social intelligence and learning style.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header grey lighten-2">
          <h6>What makes you stand out from other schools?</h6>
        </div>
        <div class="collapsible-body">
          <p> While embracing the individual and allowing the student to lead and discover, students at KIG are also
            given opportunities to assume authentic leadership roles and develop an age-appropriate sophistication that
            is not commonly found in K-12 environments. KIG is committed to equity, diversity, and community and
            ensuring that all students and their families feel a sense of belonging. In our warm, down-to-earth,
            respectful community, status isn’t important. We value students as leaders and view parents as partners
            throughout this momentous and endearing journey toward adulthood.</p>
        </div>
      </li>
    </ul>

    <h4 style="text-align: center;">Terms of Use </h4>  
   <h5>ACCEPTANCE OF TERMS</h5>
    The Services that All Star Directories provides to you on, or through, this Website are subject to the following
    terms and conditions (“Terms of Use”). All Star Directories shall have the right at any time to change or modify
    these Terms and Conditions, or any part thereof, or to impose new conditions. Such changes, modifications, additions
    or deletions shall be effective immediately upon notice thereof, which may be given by means including, but not
    limited to, posting on this Website, or by electronic or conventional mail, or by any other means by which a User
    obtains notice thereof. The most current version of the Terms of Use can be reviewed by clicking on the “Terms of
    Use” hypertext link located at the bottom of our homepage.

    <h5>Definitions</h5>
    “User” means each person who establishes or accesses a connection for access to and use of the Services.

    “Website” means this Website located at www.AllEducationSchools.com.

    <h5> DESCRIPTION OF SERVICES</h5>
    Through this Website, All Star Directories provides you with access to a variety of resources and services,
    including searchable lists of schools, information about degree programs and specialty areas of study, common
    questions and answers, detailed school fact sheets, and a system to request more information from Featured Schools
    (collectively “Services”). The Services, including any updates, enhancements, new features, and/or the addition of
    any new web properties, are subject to the Terms and Conditions. <br>

    <h5>PERSONAL AND NON-COMMERCIAL USE</h5>
    Unless otherwise specified, the Services are for your personal and non-commercial use. You may not modify, copy,
    distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell
    any information, software, products or services obtained from the Services. <br>

    Elements of this Website are protected by copyright, trade dress, trademark, unfair competition, and other laws and
    may not be copied or imitated in whole or in part. No logo, graphic, sound or image from any All Star Directories
    Website may be copied or retransmitted unless expressly permitted by All Star Directories. <br>

    <h5>REPRESENTATIONS AND WARRANTIES</h5>
    ALL STAR DIRECTORIES AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE
    INFORMATION CONTAINED IN THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED AS PART OF THE SERVICES FOR ANY PURPOSE. ALL
    SUCH DOCUMENTS AND RELATED GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND. ALL STAR DIRECTORIES AND/OR
    ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, INCLUDING
    ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR
    PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL ALL STAR DIRECTORIES AND/OR ITS RESPECTIVE SUPPLIERS BE
    LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA
    OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION
    WITH THE USE OR PERFORMANCE OF INFORMATION AVAILABLE FROM THE SERVICES. <br>

    THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED ON THE SERVICES COULD INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS.
    CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. ALL STAR DIRECTORIES AND/OR ITS RESPECTIVE SUPPLIERS MAY
    MAKE IMPROVEMENTS AND/OR CHANGES IN THE PRODUCT(S) AND/OR THE PROGRAM(S) DESCRIBED HEREIN AT ANY TIME. <br>

    ALL STAR DIRECTORIES MAKES EVERY EFFORT TO ENSURE THAT THE INFORMATION IN ITS DIRECTORIES IS ACCURATE AND CURRENT.
    HOWEVER, EDUCATIONAL INSTITUTIONS, ACCREDITING COMPANIES, AND OTHER ENTITIES CHANGE THEIR INFORMATION FREQUENTLY,
    AND THERE MAY OFTEN BE A TIME DELAY BEFORE ALL STAR DIRECTORIES OBTAINS THE REVISED INFORMATION AND UPDATES ITS
    DIRECTORIES APPROPRIATELY. FOR THIS REASON, ALL STAR DIRECTORIES MAKES NO REPRESENTATION AS TO THE CURRENCY OR
    ACCURACY OF THE INFORMATION IN ITS SERVICE, AND WILL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES INCURRED AS A RESULT OF
    RELIANCE ON SUCH INFORMATION. <br>

    <h5>LIMITATION OF LIABILITY</h5> 
    THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION,
    INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE,
    THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT,
    TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. EACH USER SPECIFICALLY ACKNOWLEDGES THAT WE ARE
    NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF
    INJURY FROM THE FOREGOING RESTS ENTIRELY WITH EACH USER. <br>

    IN NO EVENT WILL WE, OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING OR DISTRIBUTING CONTENT ON THIS
    WEBSITE, BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
    CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THE SERVICES. EACH USER HEREBY
    ACKNOWLEDGES THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL CONTENT ON THIS WEBSITE. <br>

    IN ADDITION TO THE TERMS SET FORTH ABOVE WE SHALL NOT BE LIABLE REGARDLESS OF THE CAUSE OR DURATION, FOR ANY ERRORS,
    INACCURACIES, OMISSIONS, OR OTHER DEFECTS IN, OR UNTIMELINESS OR UNAUTHENTICITY OF, THE INFORMATION CONTAINED WITHIN
    THIS WEBSITE, OR FOR ANY DELAY OR INTERRUPTION IN THE TRANSMISSION THEREOF TO THE USER, OR FOR ANY CLAIMS OR LOSSES
    ARISING THEREFROM OR OCCASIONED THEREBY. WE SHALL NOT BE LIABLE FOR ANY THIRD-PARTY CLAIMS OR LOSSES OF ANY NATURE,
    INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, PUNITIVE OR CONSEQUENTIAL DAMAGES. <br>

    <h5 style="text-align: center;">PRIVACY POLICY</h5>
    <h6 style="text-align: center;"> <b> See the Privacy Statement disclosures relating to the collection and use of your information.</b> </h6> <br>

    <h5>NO UNLAWFUL OR PROHIBITED USE</h5> 
    As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or
    prohibited by these terms, conditions, and notices. You may not use the Services in any manner that could damage,
    disable, overburden, or impair any All Star Directories server, or the network(s) connected to any All Star
    Directories server, or interfere with any other party’s use and enjoyment of any Services. You may not attempt to
    gain unauthorized access to any Services, other accounts, computer systems or networks connected to any All Star
    Directories server or to any of the Services, through hacking, password mining or any other means. You may not
    obtain or attempt to obtain any materials or information through any means not intentionally made available through
    the Services. <br>

    <h5> DEALINGS WITH ADVERTISERS</h5>
    Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through
    the Service, including payment and delivery of related goods or services, and any other terms, conditions,
    warranties or representations associated with such dealings, are solely between you and such advertiser. You agree
    that we shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such
    dealings or as the result of the presence of such advertisers on the Service. <br>

    <h5>LINKS TO THIRD PARTY SITES</h5> 
    THE SERVICE MAY PROVIDE, OR THIRD PARTIES MAY PROVIDE, LINKS TO OTHER WORLD WIDE WEB SITES OR RESOURCES. BECAUSE WE
    HAVE NO CONTROL OVER SUCH SITES AND RESOURCES, YOU ACKNOWLEDGE AND AGREE THAT WE ARE NOT RESPONSIBLE FOR THE
    AVAILABILITY OF SUCH EXTERNAL SITES OR RESOURCES, AND DO NOT ENDORSE AND ARE NOT RESPONSIBLE OR LIABLE FOR ANY
    CONTENT, ADVERTISING, PRODUCTS OR OTHER MATERIALS ON OR AVAILABLE FROM SUCH SITES OR RESOURCES. YOU FURTHER
    ACKNOWLEDGE AND AGREE THAT WE SHALL NOT BE RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY DAMAGE OR LOSS
    CAUSED OR ALLEGED TO BE CAUSED BY OR IN CONNECTION WITH USE OF OR RELIANCE ON ANY SUCH CONTENT, GOODS OR SERVICES
    AVAILABLE ON OR THROUGH ANY SUCH SITE OR RESOURCE. ALL STAR DIRECTORIES IS PROVIDING THESE LINKS TO YOU ONLY AS A
    CONVENIENCE, AND THE INCLUSION OF ANY LINK DOES NOT IMPLY ENDORSEMENT BY ALL STAR DIRECTORIES OF THE SITE.
  </div>
  <!-- start of  footer -->
  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5>Connect</h5>
          <div class="row">
            <div class='col s2'><a href="http://www.facebook.com/harnidex"><i class="fab fa-facebook-f"></i></a></div>
            <div class='col s2'><a href="http://www.twitter.com/harnidex_"><i class="fab fa-twitter"></i></a></div>
            <div class='col s2'><a href="http://wwww.instagram.com/harnidex"><i class="fab fa-instagram"></i></a></div>
            <div class='col s2'><a href="#!"><i class="fab fa-whatsapp"></i></a></div>
          </div>
        </div>
        <div class="col l3 s12">
          <h5 class=>More Links</h5>
          <ul class="links">
            <li><a href="index.html">HOME</a></li>
            <li><a href="/extra">TERMS AND CONDITIONS</a></li>
            <li><a href="/extra">PRIVACY POLICY</a></li>
            <li><a href="/extra">FAQ</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container center-align">
        &copy;2021 HARNIDEX LIMITED
      </div>
    </div>
  </footer>
  <!-- end of  footer -->
  <script src="../static/js/jquery-3.5.1.min.js"></script>
  <script src="../static/js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.collapsible').collapsible();
    });
  </script>

</body>

</html>