<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra</title>
    <!--Link Materialize css-->
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <!--Link Fontawesome-->
    <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
</head>
<body>
    <!-- start of nav bar-->
    <header>
       <nav class="deep-orange accent-2">
              <div class="container">
                  <a id="logo-container" href="#" class="brand-logo">KIG</a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Students Login </a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">FAQs</a></li>
                   </ul>
                </div>
              </nav>
    </header>  
    <!--End of Nav bar-->
<div class="container">
        <h3>FAQs</h3>
      <ul class="collapsible  z-depth-0">
        <li>
          <div class="collapsible-header grey lighten-2">
            <h6> How would you describe a Caedmon student? </h6>
          </div>
          <div class="collapsible-body">
            <p> A Caedmon student is unique! Each child brings a sense of whimsy and rigor to work and play, and their individuality is encouraged here. Based on the teachings of Maria Montessori to let the child lead, Caedmon students are instilled with a sense of independence early on, which fosters a sense of confidence, and inquisitiveness.</p> 
          </div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-2">
            <h6>Where do your graduates go? </h6>
          </div>
          <div class="collapsible-body">
            <p>Caedmon’s graduates are accepted into and attend some of the most prominent independent and public masters programs. Our Head of School partners with families of graduating students to see that each child is placed into a school that best suits his or her social intelligence and learning style.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-2">
            <h6>What makes you stand out from other schools?</h6>
          </div>
          <div class="collapsible-body">
            <p> While embracing the individual and allowing the student to lead and discover, students at Caedmon are also given opportunities to assume authentic leadership roles and develop an age-appropriate sophistication that is not commonly found in K-12 environments. Caedmon is committed to equity, diversity, and community and ensuring that all students and their families feel a sense of belonging. In our warm, down-to-earth, respectful community, status isn’t important. We value students as leaders and view parents as partners throughout this momentous and endearing journey toward adulthood.</p>
          </div>
        </li>
      </ul>
</div>
 <!-- start of  footer -->  
 <footer  class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5>Connect</h5>
        <div class="row">
          <div class='col s2'><a  href="http://www.facebook.com/harnidex"><i class="fab fa-facebook-f"></i></a></div>
          <div class='col s2'><a  href="http://www.twitter.com/harnidex_"><i class="fab fa-twitter"></i></a></div>
          <div class='col s2'><a  href="http://wwww.instagram.com/harnidex"><i class="fab fa-instagram"></i></a></div>
          <div class='col s2'><a  href="#!"><i class="fab fa-whatsapp"></i></a></div>
        </div>
      </div>
       <div class="col l3 s12">
            <h5 class=>More Links</h5>
            <ul class="links">
              <li><a  href="index.html">HOME</a></li>
              <li><a  href="/extra">TERMS AND CONDITIONS</a></li>
              <li><a  href="/extra">PRIVACY POLICY</a></li>
              <li><a  href="/extra">FAQ</a></li>
            </ul>
          </div>

    </div>
  </div>
    <div class="footer-copyright grey darken-4">
      <div class="container center-align">
&copy;2021 HARNIDEX LIMITED
      </div>
  </div>
</footer> 
<!-- end of  footer -->  
<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="../static/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
    
    </body>
    </html>