{% extends 'base.html' %}

{% block head %}
<title>FAQ</title> 
{% endblock %}

{% block body %}
<center><h1 >FAQs</h1>

    <hr>
    <h2> You’ve Got Questions. We’ve Got Answers.</h2></center>
    <ul class="collapsible  z-depth-0">
        <li>
          <div class="collapsible-header grey lighten-2">
            <h6>Where Can I Find Your Full Course List? </h6>
          </div>
          <div class="collapsible-body">
            <p> Enter your answer here. Be thoughtful, write clearly and concisely, and consider adding written as well as visual examples. Go over what you’ve written to make sure that if it was the first time you were visiting the site, you’d understand your answer.</p>
          </div>
        </li>
        <li>
            <div class="collapsible-header grey lighten-2">
              <h6>How Can I Book a visit? </h6>
            </div>
            <div class="collapsible-body">
              <p> Enter your answer here. Be thoughtful, write clearly and concisely, and consider adding written as well as visual examples. Go over what you’ve written to make sure that if it was the first time you were visiting the site, you’d understand your answer.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header grey lighten-2">
              <h6>How Much is the School Tuition?</h6>
            </div>
            <div class="collapsible-body">
              <p> Enter your answer here. Be thoughtful, write clearly and concisely, and consider adding written as well as visual examples. Go over what you’ve written to make sure that if it was the first time you were visiting the site, you’d understand your answer.</p>
            </div>
          </li>
    </ul>
    
    
    
{% endblock %}