<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--Link Materialize css-->
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <!--Link Fontawesome-->
    <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
    <link rel="stylesheet" href='../static/css/style.css'>
   
   
</head>
<body>
    <!-- start of nav bar-->
    <header>
            <nav class="transparent z-depth-0">
              <div class="container">
                <a href="#" class="sidenav-trigger" data-target="mobile-nav"><i class="fa fa-list"></i></a>
                  <a id="logo-container" href="#" class="brand-logo">KIG</a>
                  <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/admission">Admission</a></li>
                    <li><a href="/login">Login</a></li>
                   </ul>
                </div>
              </nav>
            <!--Side Nav-->
            <ul class="sidenav" id="mobile-nav">
              <li><a href="/about">About us</a></li>
              <li><a href="/faq">FAQs</a></li>
              <li><a href="/admission">Admission</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
            <!--End-->
          <div class="container section-3 white-text">
          <h3>  Welcome to KIG University</h3>
         <p>{{date}} GMT+0100 (Central European Standard Time)</p>
          </div>
         <!-- background image -->  
         <div>
                <img src="../static/img/school1.jpg" alt="image" height='500px' width='100%' style="z-index:-1" class='background-img'>
            </div>
          
         <!-- background image --> 
      </header>
    <!-- end of nav bar-->

    <!-- start of  main content--> 
   
    <main>
      <!--Cards-->
       <div class="container">
        <div class="row section-1">
          <div class="col s12 l8">
            <div class="card-panel">
                <div class="row">
                  <div class="col s6">
                    <p> For New Students</p>
                   <h5>New Student Login</h5>
                  </div>
                  <div class="col s6">
                  <p>  For Existing Students</p>
                   <h5>Existing Student Login</h5>
                  </div>
                </div>
            </div>
          </div>
            <div class="col s8 l4">
              <div class="card-panel">
                <h5 class="green-text">Quick links</h5>
                    <ul class="links">
                        <li><a href="/login">Student Login</a></li>
                        <li><a href="/login">Staff Login</a></li>
                        <li><a href="#" onclick=" M.toast({html: 'COMING SOON!',classes:'transparent'});">Payment Advice</a></li>
                    </ul>
                  </div>
              </div>
            
            
        </div>
      </div>
       </div>
    <div class=" section-2">
      <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h4 class="orange-text text-lighten-2"><strong></strong>Dear Student</strong></h4>
                <p> You are welcome to the University of KIG, the Premier University in Nigeria. I want to congratulate you on your admission into the 'First and Best' University. Please note that you will not be allowed to matriculate and therefore become a bona-fide student of this University, if you do not complete all the stipulated registration processes. </p>
            </div>
            <div class="col s12 l6">
              <img src="../static/images/about.jpg" class="img"/>
            </div>
          </div>
          </div>
    </div>

   
<!-- MAKE --> 
<div  class="section-4 indigo lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s12 l5 ">
        <img src="../static/images/make_img.jpg" class="img">
      </div>
      <div class=" col s12 l6 right-align offset-l1">
          <h4>Make Your <strong>Courses Standout</strong></h4>
          <p class="white-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
          </p>
      </div>
    </div>
  </div>
</div>
<!-- end MAKE -->


 <!-- learn -->


 <div class="container">
  <div class="row">
    <div class="col s12" style="margin-bottom:20px ;">
        <h3>Learn <strong>the Practical way</strong></h3>
        <p>packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="col s12">
    <img src="../static/images/img.jpg" class="img"/>
    </div>
  </div>
  </div>
<!-- end learn --> 
    

    </main>
    <!-- end of  main content--> 


    <!-- start of  footer -->  
    <footer  class="page-footer grey darken-3">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h5>Connect</h5>
            <div class="row">
              <div class='col s2'><a  href="http://www.facebook.com/harnidex"><i class="fab fa-facebook-f"></i></a></div>
              <div class='col s2'><a  href="http://www.twitter.com/harnidex_"><i class="fab fa-twitter teal-text"></i></a></div>
              <div class='col s2'><a  href="http://wwww.instagram.com/harnidex"><i class="fab fa-instagram brown-text"></i></a></div>
              <div class='col s2'><a  href="#!"><i class="fab fa-whatsapp green-text"></i></a></div>
            </div>
          </div>
           <div class="col l3 s12">
                <h5 class=>More Links</h5>
                <ul class="links">
                  <li><a  href="/">HOME</a></li>
                  <li><a  href="/extra">TERMS OF USE</a></li>
                  <li><a  href="/extra">PRIVACY POLICY</a></li>
                  <li><a  href="/faq">FAQ</a></li>
                </ul>
              </div>
    
        </div>
      </div>
        <div class="footer-copyright grey darken-4">
          <div class="container center-align">
    &copy;2021 HARNIDEX LIMITED
          </div>
      </div>
    </footer> 
    <!-- end of  footer --> 



    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script>
       $(document).ready(function(){
            $('.sidenav').sidenav();});
    </script>

</body>
</html>