{% extends 'base.html' %}

{% block head %}
<title>Login</title> 
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card-panel z-depth-0">
        <h4 class="blue-text ">Login</h4>
        <form action="/login" method="POST">
        <div class="row">
        <div class="col s12">
              <div class="input-field blue-theme">
                <input placeholder="Username" type="text" class="materialize" name="name">
              </div>
            </div>
            <div class="col s12">
              <div class="input-field blue-theme">
                <input placeholder="Your password" type="password" class="materialize" name='password'>
              </div>
            </div>
            <div class="col s12">
              <p>
                <label>
                  <input id="indeterminate-checkbox" type="checkbox" name="remember_me"
                  />
                  <span>Remember me</span>
                </label>
              </p>
            </div>
            <div class="col s12">
              <button type="submit" class="btn blue">Login <i class="fa fa-send"></i></button>
            </div>
            <div class="col s12">
              {%with messages= get_flashed_messages()%}
              {%if messages%}
              {% for message in messages%}
              <b class="red-text">{{message}}</b>
              {%endfor%}
              {%endif%}
              {%endwith%}
          </div>
            </div>
          </form>
    
      </div>
    </div>
{% endblock %}