<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <!--Link Materialize css-->
  <link rel="stylesheet" href="../static/css/materialize.min.css">
  <!--Link Fontawesome-->
  <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
</head>
<body>
  <!--navbar-->
  <nav class="transparent">
    <div class="container">
        <a id="logo-container" href="#" class="brand-logo blue-text">KIG</a>
        <ul class="right hide-on-med-and-down ">
            <li><a href="/" class="blue-text">Home</a></li>
            <li><a href="/about" class="blue-text">About us</a></li>
            <li><a href="/faq" class="blue-text">FAQs</a></li>
        </ul>
    </div>
</nav>

  <div class="container">
      <div class="container">
        <div class="card-panel section-1si">
            <h4 class="blue-text">Student Profile</h4>
            <form action="/signup" method="POST">
            <div class="row">
            <div class="col s12">
                  <div class="input-field blue-theme">
                    <input placeholder="Full name" type="text" class="materialize" name="name">
                  </div>
            </div>
            <div class="col s12">
                  <div class="input-field blue-theme">
                    <input placeholder="Email" type="email" class="materialize" name="email" required>
                  </div>
              </div>
              <div class="col s12">
                  <div class="input-field blue-theme">
                    <input placeholder="Phone number" type="text" class="materialize" name="phone">
                  </div>
                </div>
              <div class="col s12">
                  <div class="input-field blue-theme">
                    <input placeholder="Matric number" type="text" class="materialize" name="matric_num">
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field">
                    <select name="gender">
                     <option value="Male" selected>Male</option>
                     <option value='Female'>Female</option>
                     <option value="Others">Others</option>
                    </select>
                    <label>Gender</label>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field">
                    <select name="role">
                     <option value="Student" selected>Student</option>
                     <option value='Admin' disabled>Admin</option>
                    </select>
                    <label>Role</label>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field blue-theme">
                    <input placeholder="Your password" type="password" class="materialize" name='password'>
                  </div>
                </div>
                <div class="col s12">
                  <div class="input-field blue-theme">
                    <input placeholder="Confirm password" type="password" class="materialize" name='c-password'>
                  </div>
                </div>
               
                <div class="col s12">
                  <button type="submit" class="btn blue">Submit <i class="fa fa-send"></i></button>
                </div>
                <div class="col s12">
                    {%with messages= get_flashed_messages()%}
                    {%if messages%}
                    {% for message in messages%}
                    <b class="red-text">{{message}}</b>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
                </div>
                </div>
              </form>
        
          </div>
      </div>
  </div>

  <footer  class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5>Connect</h5>
          <div class="row">
            <div class='col s2'><a  href="http://www.facebook.com/harnidex"><i class="fab fa-facebook-f"></i></a></div>
            <div class='col s2'><a  href="http://www.twitter.com/harnidex_"><i class="fab fa-twitter teal-text"></i></a></div>
            <div class='col s2'><a  href="http://wwww.instagram.com/harnidex"><i class="fab fa-instagram brown-text"></i></a></div>
            <div class='col s2'><a  href="#!"><i class="fab fa-whatsapp green-text"></i></a></div>
          </div>
        </div>
         <div class="col l3 s12">
              <h5 class=>More Links</h5>
              <ul class="links">
                <li><a  href="/">HOME</a></li>
                <li><a  href="/extra">TERMS OF USE</a></li>
                <li><a  href="/extra">PRIVACY POLICY</a></li>
                <li><a  href="/faq">FAQ</a></li>
              </ul>
            </div>
  
      </div>
    </div>
      <div class="footer-copyright grey darken-4">
        <div class="container center-align">
  &copy;2021 HARNIDEX LIMITED
        </div>
    </div>
  </footer> 
  <script src="../static/js/jquery-3.5.1.min.js"></script>
  <script src="../static/js/materialize.min.js"></script>
  <script>
      $(document).ready(function () {
          $('select').formSelect();
      });
  </script>
</body>
</html>
