<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!--Link Materialize css-->
     <link rel="stylesheet" href="../static/css/materialize.min.css">
     <!--Link Fontawesome-->
     <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s3">
                <h4>Profile Menu</h4>
                <ul class="links">
                    <li><a href="/dashboard">Profile Page</a></li>
                    <li> <a href="/student/register/{{user.id}}">Update Bio Data</a></li>
                    <li> <a href="">Check Results</a></li>
                    <li> <a href="">Reports</a></li>
                    <li> <a href="/logout">Log out</a></li>
                </ul>
            </div>
          


<div class="col s9">
    <h4 class="blue-text text-darken-2">Student Details</h4>
    <div class="card-panel bg">
        <ul>
            <li><b>Full Name:</b> {{user.name}}</li>
            <li><b>Email:</b> {{user.email}}</li>
            <li><b>Gender:</b> {{user.gender}}</li>
            <li><b>Matric No:</b> {{user.matric}}</li>
            <li><b>Phone No:</b> {{user.phone}}</li>
            <li><b>Date of Birth:</b> {{info.DOB}}</li>
            <li><b>Place of Birth:</b> {{info.POB}}</li>
            <li><b>Place of Origin:</b> {{info.POO}}</li>
            <li><b>State/Local Government:</b> {{info.state}}</li>
            <li><b>Nationality:</b> {{info.nationality}}</li>
            <li><b>Marital Status:</b> {{info.M_S}}</li>
            <li><b>Religion:</b> {{info.religion}}</li>
            <li><b>Permanent Home Address:</b> {{info.address}}</li>
            <li><b>Next of Kin:</b> {{info.kin}}</li>
            <li><b>Address of Next of Kin:</b> {{info.kin_address}}</li>
            <li><b>Next of Kin Phone No:</b> {{info.kin_no}}</li>
            <li><b>Relationship with Next of Kin:</b> {{info.kin_relationship}}</li>
            <li><b>Previous University:</b> {{info.previous_uni}}</li>
            <li><b>Program:</b> {{info.program}}</li>
            <li><b>Mode of Entry:</b> {{info.mode}}</li>
            <li><b>Highest Qualification:</b> {{info.qualification}}</li>
            <li><b>Award in View:</b> {{info.award}}</li>
            <li><b>Mode of Study:</b> {{info.study}}</li>
            <li><b>Faculty:</b> {{info.faculty}}</li>
            <li><b>Department:</b> {{info.department}}</li>
            <li><b>Duration:</b> {{info.duration}}</li>
            <li><b>Health Status:</b> {{info.health}}</li>
        </ul>
    </div>
    <div>
        <p>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} <b
                    class="green-text">{{message}}</b> {% endfor %} {% endif %} {% endwith %}</p>
    </div>
</div>

        </div>

    </div>
</body>
</html>