<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Student Profile</title>
   <!--Link Materialize css-->
   <link rel="stylesheet" href="../static/css/materialize.min.css">
   <link rel="stylesheet"  href="{{url_for('static',filename='css/materialize.min.css')}}">
   <!--Link Fontawesome-->
   <link rel="stylesheet" href="../static/fontawesome-5.15/css/all.min.css">
   <link rel="stylesheet"  href="{{url_for('static',filename='fontawesome-5.15/css/all.min.css')}}">
  
   <style>
    .section-1{
margin-top:50px;
}
.bg{
    background:url("{{url_for('static',filename='img/stration7.jpg')}}");
 background-position: right;
 background-size: contain;
 background-repeat: no-repeat
}
  </style>

</head>
<body>
      <!-- start of nav bar-->
    <header>
        <nav class="transparent">
            <div class="container">
                <a id="logo-container" href="#" class="brand-logo blue-text">KIG</a>
                <ul class="right hide-on-med-and-down ">
                    <li><a href="/" class="blue-text">Home</a></li>
                    <li><a href="#" class="blue-text">About us</a></li>
                    <li><a href="#" class="blue-text">FAQs</a></li>
                </ul>
            </div>
        </nav>
      
    </header>
    <!--End of Nav bar-->

     <main>
         <div class="container">
            <div class="row">
                <div class="col s3">
                    <h4>Profile Menu</h4>
                    <ul class="links">
                        <li><a href="/dashboard">Profile Page</a></li>
                        <li> <a href="/student/register/{{user.id}}">Update Bio Data</a></li>
                        <li> <a href="">Check Results</a></li>
                        <li> <a href="">Reports</a></li>
                        <li> <a href="/logout">Log out</a></li>
                    </ul>
                </div>
         </div>
         <div class="container section-1">
             
             <h4 class="center blue-text">Bio-Data Form --{{user.name}}</h4>
             {%if info == "nil"%}
             <div class="card-panel bg">
                 <form action="/student/register/{{user.id}}" method = 'POST'>
                   <div class="row">
                    <div class="col s6">
                        <div class="row">
                           <div class="col s12">
                                <div class="input-field blue-theme">
                                  <input placeholder="Date of birth" type="text" class="datepicker materialize" name="dob">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                    <input placeholder="Nationality" type="text" class="materialize" name="nation">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                  <input placeholder="Place of birth" type="text" class="materialize" name="place">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                    <input placeholder="Place of origin" type="text" class="materialize" name="origin">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                  <input placeholder="State/LGA" type="text" class="materialize" name="state">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                    <input placeholder="Marital staus" type="text" class="materialize" name="status">
                                </div>
                            </div>
                        <div class="col s12">
                                <div class="input-field blue-theme">
                                  <input placeholder="Religion" type="text" class="materialize" name="religion">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                    <input placeholder="Permanent Home Address" type="text" class="materialize" name="address">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field blue-theme">
                                  <input placeholder="Next of Kin Name" type="text" class="materialize" name="kin">
                                </div>
                            </div>
                  
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Next of Kin Phone no" type="text" class="materialize" name="kin no">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                          <input placeholder="if transfer, state previous University" type="text" class="materialize" name="ex uni">
                        </div>
                    </div>
              
                </div>
                </div>
                <div class="col s6">
                    <div class="row">
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Programme Type" type="text" class="materialize" name="program">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                          <input placeholder="Mode of Entry" type="text" class="materialize" name="mode">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Highest qualification" type="text" class="materialize" name="qualification">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                          <input placeholder="Award in view" type="text" class="materialize" name="award">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Mode of Study" type="text" class="materialize" name="study">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                          <input placeholder="Faculty" type="text" class="materialize" name="faculty">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Department" type="text" class="materialize" name="department">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                          <input placeholder="Duration" type="text" class="materialize" name="duration">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Health Status" type="text" class="materialize" name="health">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                            <input placeholder="Next of Kin address" type="text" class="materialize" name="kin address">
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="input-field blue-theme">
                          <input placeholder="Next of kin Relationship" type="text" class="materialize" name="kin relationship">
                        </div>
                    </div>
                   
                   
                </div>
            </div>
               <div class="col s12">
                        <button type="submit" class="btn blue">Submit <i class="far fa-paper-plane"></i></button>
                      </div>
                      <div class="col s12">
                        {%with messages= get_flashed_messages()%}
                        {%if messages%}
                        {% for message in messages%}
                        <b class="red-text">{{message}}</b>
                        {%endfor%}
                        {%endif%}
                        {%endwith%}
                    </div>
                   </div>
                 </form>
             </div>
             {%else%}
             <div class="card-panel bg">
                <form action="/student/register/{{user.id}}" method = 'POST'>
                  <div class="row">
                   <div class="col s6">
                       <div class="row">
                          <div class="col s12">
                               <div class="input-field blue-theme">
                                 <input placeholder="Date of birth" type="text" class="datepicker materialize" name="dob" value={{info.DOB}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                   <input placeholder="Nationality" type="text" class="materialize" name="nation" value={{info.nationality}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                 <input placeholder="Place of birth" type="text" class="materialize" name="place" value={{info.POB}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                   <input placeholder="Place of origin" type="text" class="materialize" name="origin" value={{info.POO}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                 <input placeholder="State/LGA" type="text" class="materialize" name="state" value={{info.state}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                   <input placeholder="Marital staus" type="text" class="materialize" name="status" value={{info.M_S}}>
                               </div>
                           </div>
                       <div class="col s12">
                               <div class="input-field blue-theme">
                                 <input placeholder="Religion" type="text" class="materialize" name="religion" value={{info.religion}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                   <input placeholder="Permanent Home Address" type="text" class="materialize" name="address" value={{info.address}}>
                               </div>
                           </div>
                           <div class="col s12">
                               <div class="input-field blue-theme">
                                 <input placeholder="Next of Kin Name" type="text" class="materialize" name="kin" value={{info.kin}}>
                               </div>
                           </div>
                 
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Next of Kin Phone no" type="text" class="materialize" name="kin no" value={{info.kin_no}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                         <input placeholder="if transfer, state previous University" type="text" class="materialize" name="ex uni" value={{info.previous_uni}}>
                       </div>
                   </div>
             
               </div>
               </div>
               <div class="col s6">
                   <div class="row">
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Programme Type" type="text" class="materialize" name="program" value={{info.program}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                         <input placeholder="Mode of Entry" type="text" class="materialize" name="mode" value={{info.mode}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Highest qualification" type="text" class="materialize" name="qualification" value={{info.qualification}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                         <input placeholder="Award in view" type="text" class="materialize" name="award" value={{info.award}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Mode of Study" type="text" class="materialize" name="study" value={{info.study}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                         <input placeholder="Faculty" type="text" class="materialize" name="faculty" value={{info.faculty}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Department" type="text" class="materialize" name="department" value={{info.department}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                         <input placeholder="Duration" type="text" class="materialize" name="duration" value={{info.duration}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Health Status" type="text" class="materialize" name="health" value={{info.health}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                           <input placeholder="Next of Kin address" type="text" class="materialize" name="kin address" value={{info.kin_address}}>
                       </div>
                   </div>
                   <div class="col s12">
                       <div class="input-field blue-theme">
                         <input placeholder="Next of kin Relationship" type="text" class="materialize" name="kin relationship" value={{info.kin_relationship}}>
                       </div>
                   </div>
                  
                  
               </div>
           </div>
              <div class="col s12">
                       <button type="submit" class="btn blue">Submit <i class="far fa-paper-plane"></i></button>
                     </div>
                     <div class="col s12">
                       {%with messages= get_flashed_messages()%}
                       {%if messages%}
                       {% for message in messages%}
                       <b class="red-text">{{message}}</b>
                       {%endfor%}
                       {%endif%}
                       {%endwith%}
                   </div>
                  </div>
                </form>
            </div>
             {%endif%}
         </div>
     </main>

     <footer  class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l3 s12">
              <h5>Connect</h5>
              <div class="row">
                <div class='col s2'><a  href="http://www.facebook.com/harnidex"><i class="fab fa-facebook-f"></i></a></div>
                <div class='col s2'><a  href="http://www.twitter.com/harnidex_"><i class="fab fa-twitter teal-text"></i></a></div>
                <div class='col s2'><a  href="http://wwww.instagram.com/harnidex"><i class="fab fa-instagram brown-text"></i></a></div>
                <div class='col s2'><a  href="#!"><i class="fab fa-whatsapp green-text"></i></a></div>
              </div>
            </div>
             <div class="col l3 s12">
                  <h5 class=>More Links</h5>
                  <ul class="links">
                    <li><a  href="index.html">HOME</a></li>
                    <li><a  href="/extra">TERMS OF USE</a></li>
                    <li><a  href="/extra">PRIVACY POLICY</a></li>
                    <li><a  href="/faq">FAQ</a></li>
                  </ul>
                </div>
      
          </div>
        </div>
          <div class="footer-copyright grey darken-4">
            <div class="container center-align">
      &copy;2021 HARNIDEX LIMITED
            </div>
        </div>
      </footer> 
     <script src="../static/js/jquery-3.5.1.min.js"></script>
     <script  src="{{url_for('static',filename='js/jquery-3.5.1.min.js')}}"></script>
     <script src="../static/js/materialize.min.js"></script>
     <script  src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
     <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        $('.datepicker').datepicker();
      </script>
 </body>
 </html>